:root {
    --primary: #9D2449;
    --dark: #000000;
    --light: #ffffff;
    --grey: #f5f5f5;
    --secondary: #B38E5D;
    --dark-color: #1a1a1a;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}
body {
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
    color: var(--dark);
}

.background-primary{

    background-color: var(--primary);
    
}

.background-black{

    background-color: var(--dark);
    
}

.background-secondary{

    background-color: var(--secondary);
    
}

.py-6 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.navbar {
    min-height: 90px;
}

.navbar .btn {
    padding: .625rem 1.25rem !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.btn {
    padding: 1rem;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-light {
    background-color: var(--light);
    color: var(--primary);
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-light {
    background-color: var(--grey) !important;
}

.bg-dark {
    background-color: var(--dark-color) !important;
}

/* //////////////
   Footer
//////////////*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; 
    padding: 50px 0;
    text-align: center;
    color: var(--light);
} 

footer a {
    color: var(--light);
}

footer a:hover {
    color: var(--light);
}

footer .list-inline .list-inline-item {
    padding: 10px 15px;
}



@media (max-width: 992px) {
    .navbar {
        position: relative !important;
    }
    section {
        height: unset;
    }
    .w-75 {
        width: 100% !important;
    }
}

